.details {
    background-color: var(--color-bg-third);
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 40px 10px;
    margin: 0 auto 120px;
    transition: 0.5s;
}

.details:hover {
    color: red;
}

.text {
    font-size: var(--font-size-xl);
}

@media (max-width: 520px) {
    .details {
        margin-bottom: 60px;
    }
}
