.list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem:not(:last-child) {
    margin-right: 15px;
}

.listItem:last-child {
    border-radius: 10px;
    background: #033277;
    padding: 10px;
}

.listItem:last-child > a {
    color: white;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: #d60015 !important;
}

.burger {
    width: 48px;
    display: none;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .list {
        display: none;
    }

    .burger {
        display: block;
    }
}

@media (max-width: 420px) {
    .logo {
        width: 60%;
    }
}

.mobileList {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    background-color: var(--color-bg);
    list-style: none;
    padding: 20px;
    margin: 0;
    z-index: 10;
}

.mobileListItem:not(:last-child) {
    margin-bottom: 20px;
}

.mobileLink {
    cursor: pointer;
    text-decoration: none;
}

.mobileLink:hover {
    color: #d60015;
}
