<section id="about-me" class="about-me">
  <img class="image" src="/assets/images/about-me.jpg" alt="image" />
  <div class="desc">
    <h2 class="title">Обо мне</h2>
    <p class="paragraph">
      Ксения Демакова – клинический психолог с сахарным диабетом с 2002 года.
    </p>
    <p class="paragraph">
      Мне было 16 лет, когда диагностировали сахарный диабет. Мой собственный
      диагноз и отправил меня в путь более глубокого изучения психологии людей с
      СД.
    </p>
    <p class="paragraph">
      Первое мое образование медицинское. Факультет лечебное дело – фельдшер.
    </p>
    <p class="paragraph">
      10 лет я работала в поликлинике нашего города, помогая людям по мере своей
      компетенции и возможности.
    </p>
    <p class="paragraph">
      После рождения сына я поступила на психолого-педагогический факультет, но
      в процессе поняла, что мне ближе другое. Тогда я сменила квалификацию и
      получила образование клинического психолога.
    </p>
    <p class="paragraph">
      Летом 2022 года я познакомилась с командой лагеря FoxCamp. Это были три
      замечательные смены, где я работала диа-куратором.
    </p>
    <p class="paragraph">
      В своей практике я применяю когнитивно-поведенческую терапию, это помогает
      работать с установками и убеждениями.
    </p>
    <p class="paragraph">
      Я помогу вам принять свой диабет, жить с ним и с собой в гармонии. Вы
      найдете в себя силы и сможете поверить в себя!
    </p>
  </div>
</section>

<style>
  .about-me {
    max-width: 1180px;
    display: flex;
    padding: 0 10px;
    margin: 0 auto 120px;
  }
  .image {
    object-fit: contain;
    margin-right: 40px;
  }
  .desc {
  }
  .title {
    text-align: center;
    margin-top: 0;
  }
</style>
