---
const list = [
  "Мне было 16 лет, когда диагностировали сахарный диабет. Мой собственный диагноз и отправил меня в путь более глубокого изучения психологии людей с СД.",
  "Первое мое образование медицинское. Факультет лечебное дело – фельдшер.",
  "10 лет я работала в поликлинике нашего города, помогая людям по мере своей компетенции и возможности.",
  "После рождения сына я поступила на психолого-педагогический факультет, но в процессе поняла, что мне ближе другое. Тогда я сменила квалификацию и получила образование клинического психолога.",
  "Летом 2022 года я познакомилась с командой лагеря FoxCamp. Это были три замечательные смены, где я работала диа-куратором.",
  "В своей практике я применяю когнитивно-поведенческую терапию, это помогает работать с установками и убеждениями.",
  "Я помогу вам принять свой диабет, жить с ним и с собой в гармонии. Вы найдете в себе силы и сможете поверить в себя!",
];
---

<section id="about-me" class="about-me">
  <h2 class="title">Обо мне</h2>
  <img class="image" src="/assets/images/about-me.jpg" alt="image" />
  <div class="desc">
    <p class="paragraph">
      <b>Ксения Демакова</b> – клинический психолог с сахарным диабетом с 2002 года.
    </p>
    {list.map((item) => <p class="paragraph">{item}</p>)}
  </div>
</section>

<style>
  .about-me {
    max-width: 1180px;
    display: grid;
    grid-template-areas:
      "image title"
      "image desc";
    align-items: center;
    /* padding: 0 20px; */
    margin: 0 auto 120px;
  }
  .image {
    grid-area: image;
  }
  .title {
    grid-area: title;
  }
  .desc {
    grid-area: desc;
    padding: 0 20px;
  }
  .image {
    object-fit: cover;
    margin-right: 40px;
  }
  .title {
    text-align: center;
    margin-top: 0;
  }

  @media (max-width: 1024px) {
    .about-me {
      grid-template-areas:
        "title"
        "image"
        "desc";
      justify-items: center;
      margin-bottom: 60px;
    }
    .image {
      width: 100%;
      max-width: 480px;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
</style>
