<section id="consultation" class="consultation">
  <h2 class="title">Что вы получите в результате онлайн консультации?</h2>
  <ul class="list">
    <li class="item">
      <div class="number">1</div>
      <div class="desc">
        Вы сформулируете суть своей проблемы и поймете в каком направлении
        двигаться для ее решения.
      </div>
    </li>
    <li class="item">
      <div class="number">2</div>
      <div class="desc">
        Понимание и поддержка психолога поможет вам обрести уверенность в своих
        силах для решения проблемы.
      </div>
    </li>
    <li class="item">
      <div class="number">3</div>
      <div class="desc">
        Вы научитесь работать со своими мыслями и убеждениями., что успешно
        помогает бороться со своими страхами
      </div>
    </li>
    <li class="item">
      <div class="number">4</div>
      <div class="desc">
        Обретете новые знания, которые в дальнейшем сможете применять в своей
        жизни.
      </div>
    </li>
    <li class="item">
      <div class="number">5</div>
      <div class="desc">
        Вы посмотрите на свой диагноз под другим углом – не диабет управляет
        вами, а вы им.
      </div>
    </li>
    <li class="item">
      <div class="number">6</div>
      <div class="desc">
        Я помогу вам понять, в чем ваша сила, почувствовать ее и поверить в
        себя!
      </div>
    </li>
  </ul>
</section>

<style>
  .consultation {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto 60px;
  }
  .title {
    text-align: center;
    margin-top: 0;
  }
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 120px;
    justify-items: center;
    padding-right: 40px;
  }
  .item {
    display: flex;
    align-items: center;
  }
  .number {
    font-size: 120px;
    font-weight: 700;
    margin-right: 20px;
  }

  @media (max-width: 860px) {
    .list {
      grid-template-columns: 1fr;
      justify-items: start;
    }
  }
</style>
