<section id="details" class="details">
  <span class="text">Узнать подробности о консультации</span>
</section>

<style>
  .details {
    background-color: #033277;
    text-align: center;
    padding: 40px 10px;
    margin: 0 auto 120px;
  }
  .text {
    font-size: var(--font-size-xl);
    color: white;
  }
</style>
