<section id="gallery" class="gallery">
    <h2 class="title">Галерея</h2>
  </section>
  
  <style>
    .gallery {
      max-width: 1180px;
      padding: 0 10px;
      margin: 0 auto 120px;
    }
    .title {
      text-align: center;
      margin-top: 0;
    }
  </style>