---
import Navigation from "./Navigation";

export interface Props {
  isMainPage: boolean;
}

const { isMainPage }: Props = Astro.props;
---

<header id="header" class="header">
  <a class="logo" href="/">
    <img class="image" src="/assets/images/logo.svg" alt="LOGO" />
  </a>
  <Navigation client:load isMainPage={isMainPage} />
</header>

<style>
  .header {
    max-width: 1180px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    margin-right: auto;
  }

  @media (max-width: 1200px) {
    .header {
      width: 94%;
    }
  }

  @media (max-width: 500px) {
    .header {
      width: 90%;
    }

    .image {
      width: 80%;
    }
  }
</style>
