---
import { Navigation } from "./Navigation";

export interface Props {
  isMainPage: boolean;
}

const { isMainPage }: Props = Astro.props;
---

<header id="header" class="header">
  <a class="logo" href="/">
    <img src="/assets/icons/logo.png" alt="LOGO" />
  </a>
  <Navigation client:load isMainPage={isMainPage}/>
</header>

<style>
  .header {
    max-width: 1180px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    margin: 0 auto;
  }
  .logo {
    margin-right: auto;
  }
</style>
