<section id="hero" class="hero">
  <img class="image" src="/assets/images/hero.jpg" alt="hero image" />
  <div class="desc">
    <span class="text">Психологическая поддержка людей с сахарным диабетом</span>
  </div>
</section>

<style>
  .hero {
    width: 100%;
    position: relative;
    margin-bottom: 120px;
  }
  .image {
    object-fit: cover;
  }
  .desc {
    width: 520px;
    height: 500px;
    position: absolute;
    top: 140px;
    right: 150px;
    display: flex;
    flex-direction: column;
    background-color: #033277;
    padding: 120px 40px 0 40px;
  }
  .text {
    font-size: 52px;
    color: #ffffff;
  }
  /* @media (max-width: 1520px) {
    .desc {
      height: 300px;
      width: 80%;
      top: 600px;
      left: 50%;
      transform: translate(-50%, 0);
      padding: 80px 40px 0 40px;

    }
  } */
</style>
