---
interface Props {
  desc: string;
}

const { desc }: Props = Astro.props;
---


<section id="hero" class="hero">
  <picture>
    <img class="image" src="/assets/images/hero-v2.png" alt="hero image" />
  </picture>

  <div class="desc">
    <span class="text">{desc}</span
    >
  </div>
</section>

<style>
  .hero {
    width: 100%;
    position: relative;
    background: var(--color-bg-gradient);
    margin-bottom: 120px;
  }
  .image {
    object-fit: cover;
    margin-left: 60px;
  }
  .desc {
    width: 35%;
    max-width: 640px;
    position: absolute;
    top: 140px;
    right: 150px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-third);
    padding: 120px 40px 280px 40px;
  }
  .text {
    font-size: var(--font-size-xl);
    color: #ffffff;
    font-family: "Comfortaa", sans-serif;
  }

  @media (max-width: 1200px) {
    .hero {
      margin-bottom: 120px;
    }
    .desc {
      width: 80%;
      top: 600px;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      padding: 40px;
    }
  }

  @media (min-width: 1600px) {
    .text {
      font-size: 50px;
    }
  }

  @media (max-width: 880px) {
    .hero {
      margin-bottom: 140px;
    }
  }

  @media (max-width: 520px) {
    .hero {
      display: flex;
      justify-content: center;
      /* margin-bottom: 120px; */
    }
    picture {
      width: 100%;
    }
    .image {
      width: 100%;
      margin-left: 0;
    }
    .desc {
      top: 90%;
      padding: 20px;
    }
  }
</style>
