---
interface Props {
  desc: string;
}

const { desc }: Props = Astro.props;
---

<div class="container">
  <section id="hero" class="hero">
    <picture>
      <img class="image" src="/assets/images/hero-v3.png" alt="hero image" />
    </picture>

    <div class="desc">
      <span class="text">{desc}</span>
    </div>
  </section>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
    overflow: visible;
    background: var(--color-bg-gradient);
    margin-bottom: 120px;
  }
  .hero {
    width: 100%;
    max-width: 1600px;
    position: relative;
  }
  .image {
    object-fit: cover;
    margin-left: 60px;
  }
  .desc {
    width: 35%;
    max-width: 640px;
    position: absolute;
    top: 140px;
    right: 210px;
    bottom: -40px;
    background-color: var(--color-bg-third);
    padding: 120px 40px;

  }
  .text {
    font-size: var(--font-size-xl);
    color: #ffffff;
    font-family: "Comfortaa", sans-serif;
  }

  @media (min-width: 1600px) {
    .text {
      font-size: 50px;
    }
  }

  @media (max-width: 1300px) {
    .container {
      margin-bottom: 180px;
    }
    .desc {
      width: 80%;
      top: 600px;
      left: 50%;
      bottom: auto;
      transform: translate(-50%, 0);
      text-align: center;
      padding: 40px;
    }
  }

  @media (max-width: 520px) {
    .container {
      margin-bottom: 120px;
    }
    .hero {
      display: flex;
      justify-content: center;
    }
    picture {
      width: 100%;
    }
    .image {
      width: 100%;
      margin-left: 0;
    }
    .desc {
      top: 90%;
      padding: 20px;
    }
  }
</style>
