---
import About from "../layouts/About.astro";

const list = [
  "Как принять диабет",
  "Как найти мотивацию для успешной компенсации СД",
  "Как постоить отношения, имее СД: любовь, секс, семья",
  "Как побороть страхи при планировании беременности с СД",
  "Как не допустить эмоциональное выгорание при СД: помощь, стратегии, поддержка",
  "Как построить и сохранить гармоничные отношения с ребенком, у которого СД",
  "Как побороть страх гипогликемии и поздних осложнений диабета",
  "Панические атаки при СД",
  "Модификация образа жизни – работа с пищевыми привычками",
];
---

<About DOMId="problems" title="Какие проблемы я помогу Вам решить">
  <ul class="list">
    {list.map((item) => <li class="item">{item}</li>)}
  </ul>
</About>

<style>
  .list {
    padding: 0 40px;
  }
  .item:not(:last-child) {
    margin-bottom: 10px;
  }
</style>
