---
import About from "../layouts/About.astro";
---

<About DOMId="problems" title="Какие проблемы я помогу Вам решить">
  <ul class="list">
    <li class="item">Как принять диабет</li>
    <li class="item">Как найти мотивацию для успешной компенсации СД</li>
    <li class="item">Как постоить отношения, имее СД: любовь, секс, семья</li>
    <li class="item">
      Как побороть страхи при планировании беременности с СД
    </li>
    <li class="item">
      Как не допустить эмоциональное выгорание при СД: помощь, стратегии,
      поддержка
    </li>
    <li class="item">
      Как построить и сохранить гармоничные отношения с ребенком, у которого
      СД
    </li>
    <li class="item">
      Как побороть страх гипогликемии и поздних осложнений диабета
    </li>
    <li class="item">Панические атаки при СД</li>
    <li class="item">
      Модификация образа жизни – работа с пищевыми привычками
    </li>
  </ul>
</About>

<style>
  .list {
    padding: 0 40px;
  }
  .item:not(:last-child) {
    margin-bottom: 10px;
  }
</style>
