---
const list = [
  "Когнитивно-поведенческая терапия",
  "Идивидуальное консультирование",
  "Семейное консультирование: детско-родительские отношения, конфликты, дисгармонии, созависимость",
  "Диагностика детей и подростков: самооценка, эмоции, страхи и тревоги",
  "МАК - консультирование. Метафорические ассоциативные карты - проективная методика работы с детьми и взрослыми",
];
---

<section id="therapy" class="therapy">
  <h2 class="title">Направление терапии</h2>
  <img class="image" src="/assets/images/therapy-v2.jpg" alt="image" />
  <ul class="list">
    {list.map((item) => <li class="list-item">{item}</li>)}
  </ul>
</section>

<style>
  .therapy {
    max-width: 1180px;
    display: grid;
    grid-template-areas:
      "title image"
      "list image"
      "list image";
    padding: 0 10px;
    margin: 0 auto 120px;
  }
  .image {
    grid-area: image;
  }
  .title {
    grid-area: title;
  }
  .list {
    grid-area: list;
    padding: 0 20px;
    margin: 0 auto;
  }
  .list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .image {
    object-fit: cover;
    margin-left: 40px;
  }
  .title {
    text-align: center;
    margin-top: 0;
  }

  @media (max-width: 1024px) {
    .therapy {
      grid-template-areas:
        "title"
        "list"
        "image";
      justify-items: center;
    }
    .title {
      text-align: center;
    }
    .image {
      margin-left: 0;
      margin-top: 20px;
    }
    .list {
      width: 80%;
      display: flex;
      flex-direction: column;
    }
    .list-item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 520px) {
    .therapy {
      margin-bottom: 60px;
    }
    .image {
      width: 100%;
    }
    .list {
      width: 90%;
      padding: 0 40px 0 20px;
    }
  }
</style>
