.contactsListWrapper {
    width: 33%;
    display: flex;
    justify-content: flex-end;
}

.contactsList {
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}

.contactsListItemLinkImage {
    width: 40px;
    height: 40px;
}

.contactsListItem {
    margin-bottom: 20px;
}

.contactsListItem:not(:last-child) {
    margin-right: 20px;
}

.contactsListItem:nth-child(3) {
    margin-right: 0;
}

@media (max-width: 860px) {
    .contactsListWrapper {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 520px) {
    .contactsListItemLinkImage {
        width: 30px;
        height: 30px;
    }

    .contactsList {
        width: 140px;
    }
}